@import url('https://fonts.googleapis.com/css?family=Poppins'); 

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: poppins;
}
header{
    width: 100%;
    overflow: hidden;
}
.media ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    list-style-position: right;
}
.media li{
    padding: 20px 20px 0 0;  
}

.media a:hover{
    background-color: #b3abab;
    border-radius: 100px;
}

.web-logo{
    margin-left: 40px;
}
.navbar{
    padding: 10px 0 0 20px;
    align-items: left;
    display: flex;
}

.hamburger-menu, #icon{
    display: none;
}

.items{
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 16px;
    padding-left: 20%;
}

.items a{
    text-decoration: none;
    color: black;
}

.items a:hover{
    background-color: #f89292;
    border-radius: 100px;
}

.profile-btn{
    background-color: black;
    color: white;
    border-radius: 25px;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    right: 20px;
    width: 200px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    z-index: 100;
}

.hamburger-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.hamburger-menu ul li {
    border-bottom: 1px solid #eaeaea;
}

.hamburger-menu ul li:last-child {
    border-bottom: none;
}

.hamburger-menu ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
}

.hamburger-menu ul li a:hover {
    background-color: #f89292;
    border-radius: 0;
}

.close{
    color: white;
     background-color: black; 
     opacity: 0.8;
     float: right; 
     width: 30px;
     height: 20px;
     border-radius: 50px;
     text-align: center;
}

.head-text{
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: -0.035em;
}

/* banner section styles starts here */
.banner-top{
    background-image: url("icons/bannertop.svg");
    background-repeat: no-repeat;
    width: 95%;
    height: auto;
    padding: 60px;
    margin-left: 40px;
    border-radius: 20px 20px 20px 20px;
}
.top{
    display: flex;
}
.top-text a{
    opacity: 90%;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 30px;
    letter-spacing: -0.035em;
    text-decoration: none;
    padding-left: 80px;
}

.top-text a:hover{
    text-decoration: underline;
    opacity: 100%;
}

#vehicle-type{
    background-color: rgb(255, 255, 255 , 0.1);
    color: white;
    font-family: poppins;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 169px;
    height: 29px;
    top: 153px;
    margin-left: 100px;
    gap: 0px;
    opacity: 0px;
}

.block{
    display: flex;
}

.check{
    width: 600px;
    height: 42px;
    margin-top: 8px;
    margin-left: 80px;
    gap: 0px;
    opacity: 0px;
    align-items: flex;
    text-align: center;
}

.location{
    width: 188px;
    height: 42px;
    gap: 40px;
    border-radius: 18px;
    opacity: 0px;
    border: none;
    cursor: pointer;
    background: url('icons/location.svg') no-repeat 40px white;
    text-align: center;
}

#datetime-input{
    cursor: pointer;
    width: 188px;
    height: 42px;
    left: 204px;
    gap: 100px;
    border-radius: 25px ;
    opacity: 0px;
    text-align: center;
    font-family: Poppins;
    border-color: white;
    border:none;}

.search-btn{
    width: 64px;
    height: 42px;
    margin-top: 8px;
    left: 757px;
    margin-left: 10px;
    opacity: 0px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

.bar{
    height: 40px;
    width: 1px;
    position: absolute;
    margin-top: 10px;
    margin-left: 760px;
    background-color: white;
}

.book-btn{
    background-color: rgba(255, 255, 255, 0.1);
    width: 132px;
    height: 42px;
    margin-top: 12px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    border: 1px solid white;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    
}

.bottom-text{
    display: flex;
    gap: 20px;
    padding-left: 40px;
}

.bottom-text a{
    margin-top: 30px;
}

.bottom-text p{
    margin-left: 50px;
    margin-top: 40px;
    width: 50%;
    color: white;
}

.top .callBot{
    margin-top: 40px;
    height: 40px;
}

.top .chatBot{
    margin-top: 45px;
    margin-left: 2px;
    height: 40px;
    background-color: white;
    border-radius: 25px;
    border: none;
    box-shadow: #181717;
    z-index: -1;
}

.mobileButton, .link-text{
    display: none;
}

/* second section .car-banner styles starts here */
.car-banner{
    background-image: url("icons/car.svg");
    background-position: center;
    width: 95%;
    height: 405px;
    border-radius: 20px;
    margin-left: 40px;
}

.car-banner p{
    font-family: poppins;
    text-align: center;
    padding-top: 240px;
    color: white;
}

.offer-btn{
    background-color: #009046;
    width: 153px;
    height: 31.49px;
    cursor: pointer;
    border: none;
    border-radius: 32px;
    opacity: 0px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    width: 95%;
    height: 405px;
    color: white;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.offer-btn a{
    color: white;
    text-decoration: none;
}

/* third section: container style starts here */
.container{
    padding-top: 10px;
}

/* makes scrolling possible */
.card-container {
    display: flex;
    overflow-x: auto; 
    overflow-y: none;
    scroll-behavior: smooth; 
    scrollbar-width: none;
    padding: 10px 0; 
    width: calc(100% - 20px); 
}

.container h1 {
    margin: 20px 0;
    font-size: 34.74px;
    font-weight: 400;
    line-height: 52.11px;
    text-align: center;
}

.content {
    display: flex;
    height: 290px;
    width: 754px;
    border: 1px solid #d9d9d9;
    margin-right: 22px;
    flex-shrink: 0; 
}

.description {
    padding: 20px 40px;
    width: 394px;
}

.description h2 {
    font-size: 28px;
    font-weight: 500;
    line-height: 30px;
}

.description p {
    font-size: 12px;
    font-weight: 400;
    line-height: 18.5px;
    text-align: left;
    width: 298px;
}

.car-Info{
    display: flex;
    justify-content: space-between;
    margin-top: 31px;
}

.car-Info p {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    width: 200px;
}

.car-Info2 {
    display: flex;
    justify-content: space-between;
    margin-top: 31px;
}

.car-Info2 p {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    width: 200px;
}

.book-now{
    width: 128px;
    height: 38px;
    border-radius: 4px;
    border: none;
    opacity: 1;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: -0.02em;
    text-align: center;
    color: white;
    background-color: #E21E26;
    margin: 10px 0px;
}

/* subscribe sectionstyling starts here */
.subscribe {
    max-width: fit-content;
    padding: 50px 40px 0px 82px;
    display: flex;
    width: 100%;
}

.subscribe .subscribeInfo {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0px 0px 0px 20px;
}

.subscribe .subscribeInfo h3 {
    font-size: 34px;
    font-weight: 400;
    line-height: 51px;
    text-align: left;

}

.subscribe .input-box {
    display: flex;
    gap: 15px;
}

.subscribe p {
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    text-align: left;
}

#subscribe-btn {
    cursor: pointer;
    width: 400px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background: #e21e26;
    color: #fff;
}

.subscribe .input-box input {
    height: 35px;
    width: 200px;
    border: none;
    background-color: rgb(244, 250, 250);
}

.subscribe .input-box input.input-field {
    padding-left: 10px;
}

.subscribe .phoneImage {
    background: #E21E26;
    width: 644px;
    height: 450px;
    display: flex;
}

.subscribe .phoneImage img {
    display: grid;
    justify-content: flex-start;
    align-items: end;
    width: 256px;
}

.subscribe .phoneImage .contents {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    color: #fff;
    width: 300px;
}

#getLink-btn {
    background-color: #000;
    color: white;
    padding: 10px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

.subscribe .phoneImage .contents input {
    height: 40px;
    width: 250px;
    border-radius: 6px;
    border: none;

}

.subscribe .phoneImage input.enter-number {
    padding-left: 10px;
}

.subscribe .social-media {
    display: flex;
    gap: 10px;
}

.subscribe .phoneImage .contents {
    display: flex;
    flex-direction: column;

}

.subscribe .phoneImage .contents p {
    margin-top: 50px;
}

.red-back-mob ,.mobileFooter{
    display: none;
}

.phoneImage {
    display: block;
}

/* rendDetails section style starts here */
.rendDetails h1{
    font-family: Poppins;
    font-size: 34px;
    font-weight: 400;
    line-height: 51px;
    text-align: center;
}

.detailsOrder {
    width: 80%;
    height: 300px;
    flex-direction: row;
    
}

.detailsOrder img{
    width: 46px;
    height: 46px;
    top: 1937px;
    left: 702px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    align-items: center;
    margin-left: 140px;
}

.rentLocation{
    width: 348px;
    height: 178px;
    padding-top: 10px;
    gap: 0px;
    border: 1px solid #d9d9d9;
    opacity: 0px;
    display: grid;
}

.rentLocation p{
    padding: 0 30px 0 30px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.5px;
    text-align: center;
}

.rent {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
}

/* location section style starts here */
.locationSection {
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    width: 95%;
    margin-left: 40px;
}

.locationSection h1{
    font-size: 34px;
    font-weight: 400;
    line-height: 51px;
    color: white;
    text-align: center;
    padding: 40px 0 10px 0;
}

.locationList{
    list-style: none;
    display: flex;
    margin-left: 200px;
    margin-bottom: 40px;
}

.locationList li{
    color: white;
    padding: 10px 0;
    border-right: 1px solid #353434;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}

.locationList li:last-child {
    border-right: none;
}

/* frequently asked question section styles starts here */
.enquirySection{
    text-align: center;
    color:#000000;
    width: 90%;
    height: 35px;

}
 
.questionContainer {
    font-family: poppins;
    border: 1px solid #ccc;
    border: none;
    margin-left: 60px;
}

.questionAnswer{
    border-bottom: 1px solid #ddd;
    padding: 15px 0 ;
}
.questionAnswer h3{
    font-size: 15px;
    font-weight: 400;
}

.Question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.Answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding-top: 10px;
}

.Answer p {
    margin: 0;
}

.toggle-icon {
    font-size: 24px;
    line-height: 1;
    transition: transform 0.3s ease;
}

.questionAnswer.active .toggle-icon {
    transform: rotate(45deg);
}

.questionAnswer.active .Answer {
    max-height: 100px; /* Adjust based on content */
}

/* footer section style starts here */
.footerSection{
    background-color: black;
    border-radius: 10px;
    width: 95%;
    height: 303px;
    margin-left: 40px;
    margin-top: 400px;
    color: white;
    padding: 40px 16px 20px 26px;
}

.logoFooter p{
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
}

.footerMenu li a{
    color: white;
    margin-right: 2px;
    text-decoration: none;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 500;
    line-height: 19.5px;
    text-align: left;
}

.footerItems{
    list-style: none;
    margin-left: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footerItems a:hover{
    text-decoration: underline;
}

.divisionFooter{
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(73, 69, 69);
}

.footerMenu p{
    margin-left: 140px;
    margin-top: 40px;
}

.Companies{
    display: flex;
    list-style: none;
    margin-left: 100px;
}

.Companies li{
    margin-right: 20px;
    font-size: 13px;
    font-weight: 500;
}

.footerSecurity{
    margin-left: 100px;
}

.footerSecurity p{
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 40px;
}

.socialIcons{
    display: flex;
    list-style: none;
}

.socialIcons li{
    margin-right: 20px;
}

.socialIcons a:hover{
    background-color: #b3abab;
}

.footerSecurity .lock{
    padding-left: 40px;
}

.copyright p{
    margin-top: 20px;
    margin-left: 300px;
}

.mobileButton{
    display: none;
}


/* Responsive styling of whole section */
@media screen and (min-device-width: 300px) and (max-device-width: 768px) {
    html,body{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .media ul{
        width: 300px;
        margin-left: 20px;
    }
    .media li{
        padding-right: 2px;
    }
    .items{
        display: none;
    }
    #icon{
        display: flex;
        padding-right: 90px;
    }
    .car{
        display: flex;
    }
    .navbar{
        width: 400px;
    }
    .web-logo{
        width: 80%;
    }
    .top-text, .block{
        display: none;
    }
    .banner-top{
        margin-left: 10px;
        margin-right: 10px;
        padding: 0;
        width: 430px;
    }
    .bottom-text{
        display: inline;
        text-align: left;
    }
    .bottom-text img{
        margin-left: 25px;
        margin-top: 20px;
    }
    .bottom-text p, .callBot{
        margin-top: 0px;
        padding-top: 10px;
        margin-left: 14px;
    }
    .link-text{
        display: flex;
        justify-content: center;
        a{
            text-decoration: none;
            color: #181717;
            padding-right: 10px;
            margin-top: 5px;
            font-size: 10px;
            font-weight: 700;
        }
        #vehicle-type{
            margin-left: 0px;
            font-size: 14px;
            color: #181717;
        } 
    }
    .mobileButton{
        padding-left: 80px;
        display: inline;
        .book{
        background-color: #E21E26;
        color: white;
        border: none;
        border-radius: 10px;
        padding: 15px;
        cursor: pointer;
    }
    }
    .car-banner{
        margin-left: 10px;
        padding-left: 0;
        margin-right: 10px;
        margin-top: 20px;
        width: 350px;
    }
    .subscribe {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 15px;
        margin: 0 auto;
    }
    
    .subscribe .subscribeInfo {
        width: 100%;
        max-width: 100%;
        padding: 0;
        margin: 0;
    }
    
    .subscribe .subscribeInfo h3 {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 10px;
    }
    
    .subscribe .input-box {
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }
    
    .subscribe .input-box input {
        width: 100%;
        height: 45px;
        padding-left: 15px;
        border-radius: 5px;
        font-size: 16px;
    }
    
    .subscribe p {
        font-size: 14px;
        text-align: start;
        margin-bottom: 20px;
    }
    
    #subscribe-btn {
        width: 100%;
        max-width: 200px;
        height: 45px;
        font-size: 16px;
        margin-bottom: 20px;
        cursor: pointer;
    }
    
    .red-back-mob {
        display: block;
        background-color: #E21E26;
        border-radius: 10px;
        height: auto;
    }
    
    .red-back-row {
        display: flex;
    }
    
    .red-back-mob .social-media {
    
        display: flex;
        flex-direction: column;
        margin-top: 21px;
        color: #fff;
    }
    
    .red-back-mob .social-media img {
        width: 50%;
    }
    
    .red-back-mob .social-media p {
        margin-top: 30px;
    }
    
    .red-back-row2 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        padding: 10px;
        margin-top: 15px;
    }
    
    .red-back-row2 input {
        height: 45px;
        width: 100%; 
        border-radius: 5px;
        font-size: 16px;
        border: none;
    }
    
    #getLink-btn {
        background-color: #000;
        color: #fff;
        margin-left: 10px;
    }
    
    .subscribe .phoneImage {
        display: none;
    }
    .rent{
        display: block;
        .rentLocation{
            width: 300px;
        }
    }
    .locationSection {
        padding-left: 0px;
        width: 300px;
    }

    .locationList{
        justify-items: left;
        padding-left: 55px;
        margin-left: 0;
        display: grid;
        grid-template-rows: repeat(2, 1fr)
    }

    .locationList li {
        font-size: 14px;
        display: block;
        border-right: none;
    }
    .footerSection{
       display:none;
    }
    .mobileFooter {
        margin-top: 450px;
        display: block;
        padding-left: 0px;
        width: 370px;
    }
    .mobileIcon{
        background-color: rgb(196, 197, 197);
        color: #000;
        height: 200px;
        padding: 20px;
    }
    .sectionTop{
        display: flex;
    }
    .sectionTop p{
        margin-left: 5px;
        font-size: 10px;
    }
    .social{
        margin-left: 100px;
    }
    .social,.link{
        list-style: none;
        display: flex;
        gap: 10px;
    }
    .link{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .Companies{
        padding-top: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .link a{
        padding-top: 20px;
        text-decoration: none;
        color: black; 
    }
    .mobieBottom{
        background-color: #000;
        color: white;
        height: 200px;
        padding-top: 20px;
    }
    .mobieBottom p{
        margin-left: 100px;
    }
    .mobieBottom img{
        padding-left: 150px;
    }
    .Companies{
        margin-left: 6px;
    }
    .copy{
        border-top: #353434 solid 1px;
    }
    .copy p{
        margin-left: 2px;
        display: inline;
    }
}


